[Unit]
Description=Run stats.py at startup
After=dev-i2c-1.device  # This waits for I2C device to be available
After=multi-user.target
After=network.target
[Service]
ExecStart=/usr/bin/python3 /home/mw/startup_ws/stats.py
WorkingDirectory=/home/mw/startup_ws
Environment="BLINKA_FORCEBOARD=JETSON_ORIN_NANO"
StandardOutput=journal
StandardError=journal
Restart=no
[Install]
WantedBy=multi-user.target
